

.about{
    margin-top: 2%;
   
}
.footer{
    padding: 3%;
    position: absolute;
    width: 100%;
    background-color:#131921;
    color: white;
    display: flex;
    justify-content: space-around;
}

.services{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.box{
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    border: 12px solid rgb(236, 100, 100);
    padding: 1%;
    
    width: 400px;
}
.us{
    margin-left: 2%;
}
.us {
    text-align: center;
}
.reviews{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.customer{
    border: 5px solid rgb(203, 133, 145);
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 400px;
    padding: 1%;
}
h2{
    font-family: cursive;
    text-align: center;
}
h3{
    font-family: cursive;
   color: white;
}
.contact{
    justify-content: center;
    text-align: center;
}
.contact i{
    padding: 1%;
}
a{
    color: white;
    text-decoration: none;
}
.follow a{
  margin-left: 10px;
  justify-content: center;
}